#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  padding: 10px 40px;
  border: solid 1px white;
  border-radius: 15px;
  background-color: rgba(82, 146, 184, 0.815);
}

.card {
  display: flex;
  /* flex-direction: row; */
  /* border: solid 1px darkcyan; */
  /* padding: 1em; */
}

.read-the-docs {
  color: #888;
}

.icon {
  width: 30px;
}

.icon-wind {
  width: 20px;
}

.img-img-weather {
  /* border: solid 1px firebrick; */
  width: 180px;
}









.loader {
  position: relative;
  width:  48px;
  height: 48px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
   /* remove bellows command for perspective change */
  /* transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}


