#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

* {
  box-sizing: border-box;
}

.img-img-weather:hover {
  filter: drop-shadow(0 0 3em #000000aa);
}


@keyframes img-img-weather {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.body-scattered-clouds {
  background-image: url(../src/assets/scattered_clouds_nubes_dispersas.jpeg);
  background-size: cover;
}
.body-change {
  background-image: url(../src/assets/fog_niebla.jpeg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* height: 100vh; */
}


.App {
  padding: 10px 20px 10px 0px;
  /* border: solid 1px white; */
  border-radius: 15px;
  background-color: rgba(43, 131, 182, 0.993);
}

.card {display: flex;}

.h3-location {margin-bottom: -8px;}
.p-temperature {margin-top: -6px;}

.p-value {
  font-size: 20px;
  margin-top: -10px;
}

.icon {
  width: 30px;
  padding-right: 5px;
}

.icon-wind {
  width: 20px;
  padding-right: 5px;
}

.img-img-weather {width: 180px;}

@media (max-width: 390px) {
  .img-img-weather {
    width: 150px;
  }
}

@media (max-width: 365px) {
  .img-img-weather {
    width: 135px;
  }
}

/*
* LOADER  
*/
.loader {
  width: 54px;
  height: 54px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  background-image:
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px , #FF3D00 100%, transparent 0);
    background-repeat: no-repeat;
  animation: move 4s linear infinite , rotate 2s linear infinite;
}

@keyframes rotate {
  0% , 20%{ transform: rotate(0deg)}
  30% , 40% { transform: rotate(90deg)}
  50% , 60% { transform: rotate(180deg)}
  70% , 80% { transform: rotate(270deg)}
  90%,  100% { transform: rotate(360deg)}
}
@keyframes move {
  0% ,  9%{
      background-position:
      -12px -15px,  -12px 0px, -12px 15px,
      12px -15px,  12px 0px,  12px 15px;
  }
  10% , 25%{
      background-position:
      0px -15px,  -12px 0px, -12px 15px,
      34px -15px,  12px 0px,  12px 15px;
  }
  30% , 45%{
      background-position:
      0px -34px, -12px -10px, -12px 12px,
      34px -15px, 12px -10px, 12px 12px;
  }
  50% , 65% {
      background-position:
      0px -34px, -12px -34px, -12px 12px,
      34px -12px, 0px -10px, 12px 12px;
  }
  70% , 85% {
      background-position:
      0px -34px, -12px -34px, 0px 12px,
      34px -12px, 0px -10px, 34px 12px;
  }
 90% , 100% {
      background-position:
      0px -34px, -12px -34px, 0px 0px,
      34px -12px, 0px 0px, 34px 12px;
  }
}
  

